body.loading {
	background: url("../loader.gif") no-repeat fixed center;
}

.loading .container {
	display: none;
}

.pokemon-link.btn-large {
	width: 90px;
	height: 90px;
	background: linear-gradient(#ffcdd2, #ef9a9a);
}

.pokemon-icons {
	padding-top: 30px;
	img {
		max-width: 100%;
  }
}

.card .card-image {
	.card-title {
		color: black;
		left: 60%;
		font-size: 48px;
		font-weight: 600;
	}
	img {
		max-height: 300px;
		width: auto;
  }
}

.hidden {
	display: none;
}

.show-it {
	display: block;
}